<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div style="background:rgb(202, 202, 202) !important" class="jumbotron">
    <img src="../assets/makana.png" alt="picture"/>
    <h1>Invoice Entry</h1>
    <p>Submit invoice details below</p>
  </div>
  <form id="invoice_form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="vendor">Vendor Name</label>
        <input class="form-control" id="vendor" placeholder="Vendor Name">
      </div>
      <div class="form-group col-md-6">
        <label>Receiver Name</label>
        <input class="form-control" id="receiver" placeholder="Recipient">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <input type="text" id="inputState" class="form-control"></input>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label id="invoice-id">Invoice Number</label>
        <input class="form-control" id="invoice-id" placeholder="Enter invoice id">
      </div>
      <div class="form-group col-md-6">
        <label id="invoice-receipt-date">Receipt Date</label>
        <input class="form-control" id="invoice-receipt-date" placeholder="Enter Date">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label id="item">Item</label>
        <input class="form-control" id="item" placeholder="Enter item details">
      </div>
      <div class="form-group col-md-3">
        <label id="qty">Quantity</label>
        <input class="form-control" id="qty" placeholder="Enter quantity">
      </div>
      <div class="form-group col-md-3">
        <label id="unit-price">Unit Price</label>
        <input class="form-control" id="unit-price" placeholder="$0.00">
      </div>
      <div class="form-group col-md-3">
        <label id="total-line">Line Price</label>
        <input class="form-control" id="total-line" placeholder="$0.00">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <a type="button" class="btn btn-primary" id="add-row">Add Row</a>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label id="subtotal">Subtotal</label>
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">$</span>
          </div>
        <input type="text" class="form-control" id="subtotal" placeholder="$0.00">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label id="total">Total</label>
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" placeholder="0.00" />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="button">Submit Invoice</button>
  </form>
  <div class="text-center">
    <p id="message">
        <%= message %>
    </p>
  </div>
</main>

<script src="../scripts/app.js"></script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>